name: Restyled

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  restyled:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Setup Restyled
        uses: restyled-io/actions/setup@e90fee4e224c2f8118e07245c5264f916bcc52b6 # v4.4.8

      - name: Run Restyled
        uses: restyled-io/actions/run@e90fee4e224c2f8118e07245c5264f916bcc52b6 # v4.4.8
        with:
          fail-on-differences: false
          suggestions: true
